body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    margin-top: 30px;
    text-align: center;
}

.about-img {
    margin-left: 530px;
}

.welcome-img {
    margin-left: 590px;
}

.contact-img {
    margin-left: 780px;
}